/*-----------------------------------*\
            #MEDIA QUERIES
\*-----------------------------------*/

/*** responsive for large than 575px screen */

@media (min-width: 575px) {

  /*** CUSTOM PROPERTY*/

   :root {

    /*** typography*/

    --fs-2: 4rem;
    --fs-3: 2.6rem;

  }}

   /*** REUSED STYLE*/

   .scrollbar-item { min-width: calc(50% - 15px); }

   .grid-list { grid-template-columns: 1fr 1fr; }
 
   /*** HERO*/

  .hero {
    display: grid;
    padding-inline-start: 20px;
    justify-content: flex-start;
    align-items: center;
  }

  /*** PRODUCT*/

   .product-card .card-banner { position: relative; }

   .product-card .card-action-btn,
   .product-card .card-banner .hover {
     display: block;
     position: absolute;
   }

   .product-card .card-banner .hover {
    top: 0;
    left: 0;
  }

  .product-card:is(:hover, :focus-within) .default,
  .product-card .hover { opacity: 0; }

  .product-card .default,
  .product-card:is(:hover, :focus-within) .hover { opacity: 1; }

  .product-card .card-action-btn {
    top: 15px;
    right: 15px;
    color: var(--eerie-black);
    font-size: 20px;
    background-color: var(--white);
    border: 1px solid var(--platinum);
    padding: 12px;
    border-radius: 50%;
    transition: var(--transition-1);
    opacity: 0;
  }

  .product-card .card-action-btn:is(:hover, :focus) {
    background-color: var(--portland-orange);
    border-color: var(--portland-orange);
    color: var(--white);
  }

  .product-card:is(:hover, :focus-within) .card-action-btn { opacity: 1; }

  /*** CTA*/

   .cta .img { width: 250px; }

   .cta .h2 { --fs-2: 3.2rem; }

 /*** BRAND*/

  .brand .scrollbar-item { min-width: 25%; }

  

